MANIFEST
notebook/Outputs
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebooks/i18n/*/LC_MESSAGES/*.mo
notebooks/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebooks/static/style/*.min.css*
notebooks/static/*/js/built/
notebooks/static/*/built/
notebooks/static/built/
notebooks/static/*/js/main.min.js*
notebooks/static/lab/*bundle.js
notebooks/data
.python-version
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
src

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml

